.on-me-container{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.ziv-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px 2px grey;
}
.about-me-h4{
    border-bottom: 1px solid var(--primary-color) ;
    width: 80%;
    margin: 5px auto;
}
.on-me-content{
    text-align: left;
}
.on-me-content p{
    margin: 10px;
}