.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    background-color: rgb(46, 46, 46);
    box-shadow: 0 0 5px rgb(36, 36, 36);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    font-weight: bold;
    padding: 10px;
    z-index: 10;
}
.nav-container :first-child{
    position: absolute;
    left: 35px;
}
.link{
    margin-right: 30px;
    cursor: pointer;
}

/* responsive rulls*/

@media(max-width: 600px){
    .link{
        margin-right: 10px;
    }
}

@media(max-width: 500px){
    .nav-container :first-child{
        position: static;
    }
    
    .nav-container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}