.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    background-color: rgb(46, 46, 46);
    box-shadow: 0 0 5px rgb(36, 36, 36);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    font-weight: bold;
    padding: 10px;
    z-index: 10;
    height: 50px;
    font-size: large;
}
.home{
    position: absolute;
    left: 35px;
    cursor: pointer;
}
.link{
    margin-right: 25px;
    cursor: pointer;
}

/* responsive rulls*/

@media(max-width: 600px){
    .link{
        margin-right: 7px;
    }
}

@media(max-width: 500px){
    .home{
        position: relative;
        left: 0;
    }
    .link{
        display: none;
    }
    .nav-container{
        justify-content: center;
    }

}